{% extends "base.html" %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background:black">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Samuel Toloza</h1>
              <span class="subheading">Full stack developer</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in last_posts %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                  <h3 class="post-subtitle">
                    {{ post.subtitle }}
                  </h3>
                </a>
                <p class="post-meta">Escrito por
                  <a href="{% url 'post-author' post.author.username%}">{{post.author.username}} </a>
                  el {{post.publish}}</p>
          </div>
          <hr>
          {% endfor %}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="{% url 'post-list' %}">Posts anteriores &rarr;</a>
          </div>
        </div>
      </div>
    </div>
{%endblock%}