<!DOCTYPE html>
{% load static %}
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyCMS - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static "dist/css/sb-admin.css" %}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Acceder</div>
        <div class="card-body">
          <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" class="form-control" placeholder="Username" required="required" autofocus="autofocus">
                <label for="{{ form.username.id_for_label }}">Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control" placeholder="Password" required="required">
                <label for="{{ form.password.id_for_label }}">Password</label>
              </div>
            </div>
            <button class="btn btn-primary btn-primary btn-block" type="submit" value="login">Ingresar</button>
            <input type="hidden" name="next" value="{{ next }}" />
                                            {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                       Error: {{ form.errors }}
                                    </div>
                                {% endif %}
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  </body>

</html>
