{% extends "base.html" %}

{% block customheader %}
<script id="dsq-count-scr" src="//<>.disqus.com/count.js" async></script>
{% endblock%}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background:black">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ object.title}}</h1>
              <span class="subheading">{{ object.subtitle}}</span>
                <p class="post-meta">Escrito por
                  <a href="{% url 'post-author' object.author.username%}">{{object.author.username}} </a>
                  el {{object.publish}}</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ object.body|safe  }}</p>


        </div>
      </div>
        <br>

        <div id="disqus_thread"></div>
    </div>
{%endblock%}

{% block customjs %}
<script>


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://<>.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
