{% extends "base_admin.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'dj-admin-sitesetting-view' %}">Configuración</a>
            </li>
            <li class="breadcrumb-item">Sitio</li>

          </ol>

          <!-- Page Content -->

             <h1>Configurar Datos Básicos</h1>
          <hr>

          <form role="form" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Nombre del sitio</label>
                <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}"
                    placeholder="Nombre" value="{{ form.name.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Descripción del sitio</label>
                <input type="text" class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}"
                    placeholder="Descripción" value="{{ form.description.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.keywords.id_for_label }}">Keywords</label>
                <input type="text" class="form-control" id="{{ form.keywords.id_for_label }}" name="{{ form.keywords.html_name }}"
                    placeholder="Keywords, separados por coma" value="{{ form.keywords.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.author.id_for_label }}">Autor</label>
                <input type="text" class="form-control" id="{{ form.author.id_for_label }}" name="{{ form.author.html_name }}"
                    placeholder="Autor del sitio" value="{{ form.author.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Título</label>
                <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}"
                    placeholder="Titulo" value="{{ form.title.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.twitter.id_for_label }}">Twitter</label>
                <input type="text" class="form-control" id="{{ form.twitter.id_for_label }}" name="{{ form.twitter.html_name }}"
                    placeholder="Twitter" value="{{ form.twitter.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.github.id_for_label }}">Github</label>
                <input type="text" class="form-control" id="{{ form.github.id_for_label }}" name="{{ form.github.html_name }}"
                    placeholder="Github" value="{{ form.github.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.github.id_for_label }}">Linkedin</label>
                <input type="text" class="form-control" id="{{ form.linkedin.id_for_label }}" name="{{ form.linkedin.html_name }}"
                    placeholder="Linkedin" value="{{ form.linkedin.value|default_if_none:'' }}" maxlength="100" required>
              </div>
              <div class="form-group">
                <label for="{{ form.mail.id_for_label }}">Email</label>
                <input type="text" class="form-control" id="{{ form.mail.id_for_label }}" name="{{ form.mail.html_name }}"
                    placeholder="Email" value="{{ form.mail.value|default_if_none:'' }}" maxlength="100" required>
              </div>
                <button type="submit" class="btn btn-default">Guardar</button>
              <br>
              <br>
          </form>

</div>

{% endblock%}